
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "mediaquery";
@import "responsive-fonts";
@import "covering-link";

//Foter variables
$bkg-color: #414042;
$font-family:  "Open Sans";
$font-color : white;
$font-hover-color : #8A6BFF;

body, html{
  margin: 0;
  padding: 0;
  @include display(flex);
  @include flex-direction(column);
  min-height: 100vh;
}

ul{
  padding-left: 13px;
}

.body-content{
  @include flex(1);
  position: relative;
}

@font-face {
  font-family: "Open Sans";
  src: url(./fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: OpenSansLight;
  src: url(./fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: OpenSansBold;
  src: url(./fonts/OpenSans-Bold.ttf);
}

@mixin underline-animation($bc){
  position: relative;
  &:before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 0;
    height: 100%;
    border-bottom: 1px solid $bc;
    @include transition(all 0.3s linear);
  }
  &:hover:before{
    width: 100%;
    @include transition(all 0.3 linear);
  }
}
.half-height{
  width: 100%;
  height: 40%;
}

//WP widget fix
li.widget {
  list-style: none;
}