@import "general";

.siblings-menu{
  @include xs{
    display: none;
  }
  width: 100%;
  padding-bottom: 30px;
  &__parent{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-transform: uppercase;
    @extend .font-size-18;
    background-color: #8A6BFF;
    a{
      color: white;
      text-decoration: none;

    }
  }
  &__siblings{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    @extend .font-size-15;

    a{
      color: #4f555b;
      text-decoration: none;
      &:hover{
        color: #8A6BFF;
      }
      @include underline-animation(#8A6BFF)
    }

    &.active>a{
      border-bottom: solid 1px #4f555b;
    }
  }
}