@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";

.type3 {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  width: 100%;
  font-family: "Open Sans";

  &__container {
    max-width: 920px;
    padding: 0 20px 0  20px;
    width: 100%;
    @include display(flex);
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 66.66%;
  }

  &__navigation {
    display: flex;
    width: 33.33%;
  }

  &__featured-image{
    width: 100%;
    height: 300px;
  }

  &__image-container {
    padding-right: 20px;
  }
}

