@import "general.scss";

.type2 {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  width: 100%;
  font-family: "Open Sans",serif;
}

.type2-container {
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(space-between);
  @include flex-flow(wrap);
  width: 100%;
  max-width: 960px;
  padding: 0 20px 0  20px;
  box-sizing: border-box;

  //
  &:after{
    content: "";
    width: 30%;
  }
}

.post-background-image{
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: -50px 0;
  width: 100%;
  height: 300px;
  @include display(flex);
  @include flex-direction(column-reverse);
  @include transition(all 0.3s ease-in-out);
  overflow: hidden;
  @include sm{
    background-position: 0 0;
    @include transition(none);
  }
  @include xs{
    background-position: 0 0;
    @include transition(none);
  }
}

.image-container {
  position: relative;
  width: 30%;
  margin-bottom: 25px;
  @include sm{
    width: 48%;
  }
  @include xs{
    min-width: 0;
    width: 100%;
    margin-bottom: 20px;
  }

  &:hover {
    cursor: pointer;

    .post-background-image{
      background-position: 0 0;
      @include transition(all 0.3s ease-in-out);
    }
    .image-container{
      &__excerpt{
        bottom: 0;
        @include transition(all 0.3s ease-in-out);
      }
      &__page-title{
        bottom: 0;
        @include transition(all 0.3s ease-in-out);
      }
    }
  }

  //&:nth-child(odd) {
  //  margin-right: 2%;
  //  @include xs{
  //    margin-right: 0;
  //  }
  //}

  &__page-title {
    position: relative;
    bottom: -10px;
    @include transition(all 0.3s ease-in-out);
    padding: 0 0 10px 20px;
    text-transform: uppercase;
    text-shadow: 2px 2px rgba(0,0,0,.1);
    color: #FFFFFF;
    @extend .font-size-19;
    font-weight: bold;
  }
  &__excerpt {
    position: relative;
    bottom: -10px;
    @include transition(all 0.3s ease-in-out);
    @include display(flex);
    &__content {
      color: #414042;
      @extend .font-size-13;
      background: #FFFFFF;
      width: 60%
    }

    &__text {
      padding: 30px 20px 10px;
      text-transform: uppercase;
    }

    //&__more {
    //  padding: 10px 20px 0px;
    //  a{
    //    text-decoration: none;
    //    font-weight: bold;
    //    color: #b788ff;
    //    @extend .font-size-14;
    //    &:hover{
    //      opacity: 0.7;
    //    }
    //  }
    //}
  }

  .arrow-down {
    width: 0;
    height: 0;
    border-right: 20px solid transparent;
    border-top: 140px solid #fff;
  }
}
