@import "general";

.employee{
  @include display(flex);
  @include flex-direction(row);
  box-sizing: border-box;
  width: 100%;
  max-width: 960px;
  padding: 0 20px 65px;
  margin: 0 auto;
  @include sm{
    height:auto;
    @include flex-direction(column);
    @include align-items(center);
  }
  @include xs{
    height:auto;
    @include flex-direction(column);
    @include align-items(center);
  }

  font-family: "Open Sans", serif;
  color: #414042;

  &__container{
    @include lg{
      @include flex(6);
    }
    @include md{
      @include flex(6);
    }
    @include display(flex);
    @include flex-direction(row);
    @include xs{
      @include flex-direction(column);
      @include align-items(center);
      @include justify-content(center);
      text-align: center;
    }
    width: 100%;
    @include lg{
      height: 100%;
    }
    @include md{
      height: 100%;
    }
  }

  &__image{
    overflow: hidden;
    width: 215px;
    height: 215px;
    img{
      height: 100%;
      width: auto;

    }
  }

  &__description{
    padding: 0 20px;
    @include flex(8);
    &__name{
      padding-bottom: 15px;
      @include xs{
        padding-top: 10px;
      }

      h2{
        margin: 0;
        @extend .font-size-24;
        line-height: 24px;
      }
    }
    &__job{
      padding-bottom: 20px;
      @include xs{
        padding-bottom: 20px;
      }
      @extend .font-size-14;
    }
    &__content{
      p{
        margin: 0;
        @extend .font-size-14;
      }
      ul{
        margin: 0;
        list-style: none;
        li{
          &:before{
            content: '►';
            color: #8a6bff;
            padding-right: 10px;
          }
        }
      }
    }
  }

  &__separator{
    @include flex(1);
    @include sm{
      display: none;
    }
    @include xs{
      display: none;
    }
  }

  &__reference{
    @include lg{
      @include flex(3);
    }
    @include md{
      @include flex(3);
    }
    @include display(flex);
    @include flex-direction(column);
    @include sm{
      width: 50%;
      padding-top: 20px;
    }
    @include xs{
      width: 50%;
      padding-top: 20px;
      text-align: center;
    }

    &__content{
      @include flex(1);
      font-family: OpenSansLight, serif;
      font-style: italic;
      @extend .font-size-14;

      ul{
        list-style: none;
        li{
          &:before{
            content: '►';
            color: #8a6bff;
            padding-right: 10px;
          }
        }
      }
    }
    &__author{
      @include flex(1);
      @include display(flex);

      @include not_xs{
        @include flex-direction(row);
      }
      @include xs{
        @include flex-direction(column);
        @include align-items(center);
      }
      &__description-container{
        @include flex(1);
        padding-right: 10px;
      }
      &__name{
        padding-bottom: 10px;
        @extend .font-size-14;
      }
      &__job{
        @extend .font-size-14;
      }
      &__image{
        overflow: hidden;
        width: 70px;
        height: 80px;
        @include xs{
          padding-top: 20px;
        }
        img{
          height: 100%;
          width: auto;
        }
      }
    }
  }

}