@import "general";
@import "siblings-menu";

.type07{
  @include display(flex);
  @include flex-direction(row);
  @include xs{
    @include flex-direction(column);
  }

  box-sizing: border-box;
  width: 100%;
  max-width: 960px;
  padding: 0 20px 50px;
  margin: 0 auto;

  font-family: "Open Sans", serif;
  color: #414042;

  &__main{
    @include flex(2);
    margin-right: 20px;
    @include xs{
      margin-right: 0;
    }

    &__image{
      width: 100%;
      height: 300px;
      overflow: hidden;
      margin-bottom: 15px;
      @include xs{
        height: auto;
      }

      img{
        height: auto;
        width: 100%;
      }
    }

    &__business-type{

      @include display(flex);
      @include flex-direction(row);
      @include justify-content(flex-start);
      margin-bottom: 25px;

      &__title{
        position: relative;
        padding: 0 0 5px 0;
        margin-right: 30px;
        @extend .font-size-15;

        &.active{
          border-bottom: solid 1px #808080;
        }
        &:hover{
          cursor: pointer;
        }
        .underline-animation{
          position: absolute;
          width: 0;
          height: 100%;
          border-bottom: 1px solid #808080;
          @include transition(all 0.3s linear);
        }
        &:hover .underline-animation{
          width: 100%;
          @include transition(all 0.3s linear);
        }
      }
    }

    &__content{
      padding-bottom: 50px;
      &__item{

        display: none;
        @extend .font-size-14;

        h2{
          text-transform: uppercase;
          @extend .font-size-21;
        }
        &.active{
          display: block;
        }
        ul{
          list-style: none;
          li{
            &:before{
              color: #8a6bff;
              content: '►';
              padding-right: 10px;
            }
          }
        }
      }
    }
  }

  &__side{
    @include flex(1);
    .learn-more{
      width: 100%;
      padding-bottom: 30px;
      &__title{
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        text-transform: uppercase;
        @extend .font-size-18;
        background-color: #8A6BFF;
        color: white;
      }
      &__link {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        @extend .font-size-15;

        a {
          color: #4f555b;
          text-decoration: none;
          &:hover {
            color: #8A6BFF;
          }
        }

        &.active {
          border-bottom: solid 1px #4f555b;
        }
      }
    }
  }
}