@import "general";

.geographical-coverage{

  font-family: "Open Sans", serif;
  color: #414042;

  &__map{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: 960px;
    //height: 430px;
    padding: 0 20px;
    margin: 0 auto 60px;
    overflow: hidden;

    &__wrapper{
      position: relative;
      width: 100%;
    }
    img{
      position: absolute;
      top:0;
      opacity: 0;
      height: auto;
      width: 100%;
    }
    img:first-of-type{
      position: relative;
    }

  }

  &__tabs{
    position: relative;
    @include display(flex);
    @include flex-direction(row);
    width: 100%;
    height: 100%;

    &__container{
      @include display(flex);
      @include flex-direction(row);

      width: 100%;
      max-width: 920px;

      &__side-border{
        @include flex(1);
        border-bottom: solid 1px rgba(0,0,0,0.2);
      }
    }

    &__item{
      display: block;
      padding: 10px;
      border: solid 1px rgba(0,0,0,0.2);

      @extend .font-size-14;
      text-transform: uppercase;
      &.active{
        border-bottom: none;
      }
      &.left{
        border-right: none;
      }
      &.right{
        border-left: none;
      }
      &:hover{
        cursor: pointer;
      }
    }

    &__side-border{
      @include flex(1);
      border-bottom: solid 1px rgba(0,0,0,0.2);
    }
  }

  &__tab-content{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: 960px;
    padding: 20px 20px 0;
    margin: 0 auto;
    height: 170px;

    &__wrapper{
      position: relative;
      width: 100%;
    }

    &__item{
      position: absolute;
      width: 100%;
      box-sizing: content-box;
      visibility: hidden;
      background-color: white;

      @extend .font-size-14;

      padding-bottom: 50px;
      @extend .font-size-14;
      h2{
        text-transform: uppercase;
        @extend .font-size-21;
      }
      ul{
        list-style: none;
        li{
          &:before{
            content: '►';
            color: #8a6bff;
            padding-right: 10px;
          }
        }
      }
    }
  }
}