@import "general.scss";

.type2 {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  width: 100%;
  font-family: "Open Sans",serif;
}

.type2-container {
  @include display(flex);
  @include flex-direction(row);
  @include not_xs{
    @include justify-content(space-between);
  }
  @include xs{
    @include justify-content(center);
  }
  @include flex-flow(wrap);
  width: 100%;
  max-width: 960px;
  padding: 0 20px 0  20px;
  box-sizing: border-box;

  &:after{
    content: "";
    width: 30%;
  }
}

.post-background-image{
  @include display(flex);
  @include flex-direction(column-reverse);

  width: 100%;
  height: 300px;
  overflow: hidden;

  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: -50px 0;

  @include transition(all 0.3s ease-in-out);

  @include sm{
    background-position: 0 0;
    @include transition(none);
  }
  @include xs{
    background-position: 0 0;
    @include transition(none);
  }
}

.image-container {
  position: relative;
  width: 30%;
  margin-bottom: 25px;
  @include sm{
    width: 48%;
  }
  @include xs{
    min-width: 0;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
  }

  &:hover {
    cursor: pointer;

    .transparent-background{
      opacity: 0;
      @include transition(all 0.3s ease-in-out);
    }
    .post-background-image{
      background-position: 0 0;
      @include transition(all 0.3s ease-in-out);
    }
    .image-container{
      &__excerpt{
        bottom: 40px;
        opacity: 1;
        @include transition(all 0.3s ease-in-out);
      }
      &__page-title{
        bottom: 40px;
        @include transition(all 0.3s ease-in-out);
      }
    }
  }

  //&:nth-child(odd) {
  //  margin-right: 2%;
  //  @include xs{
  //    margin-right: 0;
  //  }
  //}
  .transparent-background{
    position: absolute;
    top:0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #3085a3 ;
    opacity: 0.3;
    @include transition(all 0.3s ease-in-out);
  }

  &__page-title {
    position: relative;
    bottom: 0;
    @include transition(all 0.3s ease-in-out);
    padding: 0 0 10px 20px;
    text-transform: uppercase;
    text-shadow: 2px 2px rgba(0,0,0,.1);
    color: #FFFFFF;
    @extend .font-size-19;
    font-weight: bold;
  }
  &__excerpt {
    position: relative;
    bottom: 0;
    min-height: 30px;
    opacity: 0;
    @include transition(all 0.3s ease-in-out);
    @include display(flex);
    &__content {

      text-shadow: 2px 2px rgba(0,0,0,.1);
      color: #FFFFFF;
      @extend .font-size-13;
    }

    &__text {
      padding: 0 20px 10px;
      text-transform: uppercase;
    }

    //&__more {
    //  padding: 10px 20px 0px;
    //  a{
    //    text-decoration: none;
    //    font-weight: bold;
    //    color: #b788ff;
    //    @extend .font-size-14;
    //    &:hover{
    //      opacity: 0.7;
    //    }
    //  }
    //}
  }

  .arrow-down {
    width: 0;
    height: 0;
    border-right: 20px solid transparent;
    border-top: 140px solid #fff;
  }
}
